@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    font-family:Roboto;
}


.website-layout {
    display: flex;
    flex-direction: column;
    padding-top: 69px;
    
}
.header {
    display: flex;
    margin: 1;
    padding-left: 0;
    border: 0;
    height: 70px;
    flex-direction: row;
    width: 100%;
    position: fixed;
    top: 0;
    justify-content: space-between;
    background-color: #1F2937;
    color: white;
    
}

.logo {
    display: flex;
    font-size: larger;
    align-items: center;
    padding-left: 16px;

}
.header-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
ul {
    list-style: none;
    padding-left: 0;
}
a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding-right: 16px;
}
.under-head {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #265aa2;
    color: white;
    height: 300px;
    padding-left: 16px;
}
.main-title, p {
    display: flex;
    color: rgb(255, 255, 255);
    width: 300px;

}
.main-title {
    font-size: 48px;
    font-weight: bold;
}