@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    font-family:Roboto;
}


.website-layout {
    display: flex;
    flex-direction: column;
    padding-top: 69px;
    
}
.header {
    display: flex;
    margin: 1;
    padding-left: 0;
    padding-bottom: 40px;
    border: 0;
    height: 70px;
    flex-direction: row;
    width: 100%;
    position: fixed;
    top: 0;
    justify-content: center;
    gap: 150px;
    background-color: #1F2937;
    color: white;
    
}

.logo {
    display: flex;
    font-size: 24px;
    align-items: center;

}
.header-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
ul {
    list-style: none;
    padding-left: 0;
}
a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    padding-right: 16px;
}
.under-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: #1F2937;
    color: white;
    height: 400px;
}
.left-content {
    display: flex;
    flex-direction: column;
}
.right-content {
    display: flex;
    
}
.main-title, p {
    display: flex;
    color: rgb(255, 255, 255);
    width: 300px;
    margin-bottom: 10px;

}
.main-title {
    font-size: 48px;
    font-weight: bold;
}
p {
    font-size: 18px;
    color: #E5E7EB;
}

img {
  
    width: 400px; height: auto;

}

button.sign-up-head {
    border-radius: 8px;
    border: 0;
    color: white;
    background-color: #589eff;
    width: 150px; height: 30px;
    margin-top: 10px;
}

.section-three {
    display: flex;
    height:400px;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
}

.heading {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 36px;
    font-weight: bold;
}

.box-1, .box-2, .box-3, .box-4 {
  display: flex;
  width: 150px;
  height: 150px;
  border: 3px solid #3882F6;
  padding: 10px;
  margin: 10px;
  border-radius: 25px;
}
.round-boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.section-three-text, .text-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 46px;
}
.text-1 {
    display: flex;
    width: 150px;
    height: auto;
    text-align: center;
    
}

.section-four{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    height: 310px;
    padding: 40px;
}
.main-text-grey {
    display: flex;
    text-align: start;
    width: 700px; height: auto;
    font-size: 30px;
    font-style: italic;

}
.section-five-top-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}
.blue-box {
    display: flex;
    flex-direction: row;
    background-color: #3882F6;
    height: 120px;
    width: 750px;
    border: 3px solid #3882F6;
    border-radius: 15px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}
.sign-up-footer {
    margin-left: 10px;
    border-radius: 8px;
    border: 2px solid white;
    color: white;
    background-color: #3882F6;
    width: 150px; height: 30px;
    margin-top: 10px;
}
.cta {
    display: flex;
    color: white;
    font-size: 23px;
    font-weight: 450;
}
.cta-text {
    margin-top: 5px;
    display: flex;
    color: #E5E7EB;
    font-size: 15px;
    font-style: unset;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #1F2937;
    color:#E5E7EB;
    font-size: 15px;
    
}